<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mytravelog/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static 'mytravelog/css/base_main.css' %}" rel="stylesheet" type="text/css">
    <!-- head block -->
    {% block head_block %}
    {% endblock %}
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-shadow" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-custom" href="/mytravelog/">MyTravelog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Live Feed</a></li>
                <li><a href="#">Leaderboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="user-dropdown-toggle" data-toggle="dropdown">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="user-dropdown-item-view-profile" href="/mytravelog/user/{{ user.username }}">View profile</a></li>
                            <li><a id="user-dropdown-item-sign-out" href="/mytravelog/sign_out/">Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/mytravelog/sign_in/" class="a-signin">Sign In</a></li>
                    <li><a href="/mytravelog/sign_up/" class="a-signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- body block -->
{% block body_block %}
{% endblock %}

<!-- footer -->
<div class="container footer-container">
    <hr class="footer-divider">
    <p class="footer-text">&copy; 2014 Manas Bajaj &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    <span class="pull-right footer-text"><a href="#">Back to top</a></span>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'mytravelog/js/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'mytravelog/js/bootstrap/bootstrap.min.js' %}"></script>

<!-- csrf token required for contacting the server using ajax calls -->
<script type="application/javascript">
    var csrf_token = "{{ csrf_token }}";
</script>

<!-- google maps javascript api -->
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

<!-- load_js block -->
{% block load_js_block %}
{% endblock %}

</body>
</html>
