{% extends 'mytravelog/master/base_main.html' %}
{% load static %}

{% block head_block %}
    <link href="{% static 'mytravelog/css/base_user.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
    <!-- Main jumbotron -->
    {% block cover_picture_block %}
    {% endblock %}

    <!-- tabs container -->
    <div class="tabs-or-stats-bar">
        <div class="container">
            <div class="col-lg-3">
                <div class="row"></div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="tabs-or-stats-container">
                        {% block tabs-or-stats-block %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-user-container">
        <div class="col-lg-3">
            <div class="profile-picture-container">
                <img class="profile-picture" src="{{ requested_user_profile.profile_picture.url }}">
            </div>
            <p class="full-name">{{ requested_user_profile.user.get_full_name }}</p>
            <p class="username">@{{ requested_user_profile.user.username }}</p>
            <div class="left-column">
                <div class="travel-stats-container">
                    <div class="stat-container">
                        <p class="count">{{ requested_user_profile.country_count }}</p>
                        <p class="title">Countries</p>
                    </div>
                    <div class="stat-container">
                        <p class="count">{{ requested_user_profile.city_count }}</p>
                        <p class="title">Cities</p>
                    </div>
                    <div class="stat-container">
                        <p class="count">1</p>
                        <p class="title">Rank</p>
                    </div>

                    <!-- world map button -->
                    <button class="btn btn-primary world-map-button" id="show-on-map-button" data-requested-user-username="{{ requested_user.username }}" data-requested-user-first-name="{{ requested_user.first_name }}">Show on Map</button>
                </div>
                <!-- main follow button -->
                {% if authenticated_to_like_and_comment and requested_user != user %}
                    {% if is_followed %}
                        <button class="btn follow-button follow-button-active" id="main-follow-button" data-following-user-profile-id="{{ requested_user_profile.id }}">Following</button>
                    {% else %}
                        <button class="btn follow-button" id="main-follow-button" data-following-user-profile-id="{{ requested_user_profile.id }}">Follow</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-9 right-column-container">
            <div class="right-column">
                {% block right_column_block %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- All modals -->
    <!-- Add or Edit album modal -->
    <div class="modal fade" id="add-or-edit-album-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="add-or-edit-album-modal-title">Add new album</h4>
                </div>
                <div class="modal-body">
                    <form class="form-container form-group" id="add-or-edit-album-modal-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="alert alert-danger error-container" id="add-or-edit-album-modal-error-container"></div>

                        <label class="form-label" for="name">Name*</label>
                        <input class="form-control form-input" id="add-or-edit-album-modal-name-input" name="name" type="text" autofocus="" required="" placeholder="Enter the name of the album">
                        <br>
                        <label class="form-label" for="start_date">Start date*</label>
                        <input class="form-control form-input" id="add-or-edit-album-modal-start-date-input" name="start_date" type="date" min="1900-01-01" max="9000-12-31" required="">
                        <br>
                        <label class="form-label" for="end_date">End date*</label>
                        <input class="form-control form-input" id="add-or-edit-album-modal-end-date-input" name="end_date" type="date" min="1900-01-01" max="9000-12-31" required="">
                        <br>
                        <label class="form-label" for="cover_picture">Cover picture</label>
                        <input class="form-control form-input" name="cover_picture" type="file">

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-wrapper">
                        <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                        <button type="submit" form="add-or-edit-album-modal-form" class="btn btn-primary button-positive" id="add-or-edit-album-modal-submit-button">Add</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Delete album modal -->
    <div class="modal fade" id="delete-album-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete album</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error-container" id="delete-album-modal-error-container"></div>
                    <p>Are you sure you want to delete the following album:</p>
                    <p class="delete-album-modal-paragraph">Name: <span id="delete-album-modal-album-name"></span></p>
                    <p class="delete-album-modal-paragraph">Created at: <span id="delete-album-modal-created-at"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger button-positive" id="delete-album-modal-submit-button">Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Add log modal -->
    <div class="modal fade" id="add-log-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="add-log-modal-title">Add new log</h4>
                </div>
                <div class="modal-body">
                    <form class="form-container form-group" id="add-log-modal-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="alert alert-danger error-container" id="add-log-modal-error-container"></div>

                        <div id="add-log-modal-map-container"></div>

                        <label class="form-label" for="location">Current location*</label>
                        <input class="form-control form-input" id="add-log-modal-location-input" name="location" type="text" readonly placeholder="Enter the name of your current city" required="">
                        <input class="form-control form-input" id="add-log-modal-latitude-input" name="latitude" type="hidden" >
                        <input class="form-control form-input" id="add-log-modal-longitude-input" name="longitude" type="hidden">
                        <br>
                        <label class="form-label" for="album_name">Choose an album this log belongs to*</label>
                        <select class="form-control form-input" name="album_name" id="add-log-modal-album-input" required="">
                            <option value="None">None</option>
                            {% for album in requested_user_albums %}
                                <option value="{{ album.name }}">{{ album.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label class="form-label" for="description">Description*</label>
                        <textarea class="form-control form-input" id="add-log-modal-description-input" placeholder="Enter a short description" name="description" required="" rows="3"></textarea>
                        <br>
                        <label class="form-label">Choose images to upload*</label>
                        <div class="form-image-group" id="add-log-modal-images-container">
                        </div>
                        <div id="add-log-modal-more-images-button-wrapper">
                            <p id="add-log-modal-more-images-button">+ Add another image</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-wrapper">
                        <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                        <button type="submit" form="add-log-modal-form" class="btn btn-primary button-positive" id="add-log-modal-submit-button">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- show log picture modal -->
    <div class="modal fade" id="log-picture-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="log-picture-modal-body">
                    <div id="log-picture-modal-picture"></div>
                    <div id="log-picture-modal-footer">
                        <p id="log-picture-modal-previous-button">< Prev</p>
                        <p id="log-picture-modal-index">1 of 5</p>
                        <p id="log-picture-modal-next-button">Next ></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- delete log modal -->
    <div class="modal fade" id="delete-log-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete log</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error-container" id="delete-log-modal-error-container"></div>
                    <p>Are you sure you want to delete the following log:</p>
                    <p class="delete-log-modal-paragraph">Location: <span id="delete-log-modal-location"></span></p>
                    <p class="delete-log-modal-paragraph">Created at: <span id="delete-log-modal-created-at"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger button-positive" id="delete-log-modal-submit-button">Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Edit log modal -->
    <div class="modal fade" id="edit-log-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="edit-log-modal-title">Edit log</h4>
                </div>
                <div class="modal-body">
                    <form class="form-container form-group" id="edit-log-modal-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="alert alert-danger error-container" id="edit-log-modal-error-container"></div>

                        <div id="edit-log-modal-map-container"></div>

                        <label class="form-label" for="location">Location*</label>
                        <input class="form-control form-input" id="edit-log-modal-location-input" name="location" type="text" readonly required="">
                        <br>
                        <label class="form-label" for="album_name">Album*</label>
                        <select class="form-control form-input" name="album_name" id="edit-log-modal-album-input" required="">
                            <option value="None">None</option>
                            {% for album in requested_user_albums %}
                                <option value="{{ album.name }}">{{ album.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label class="form-label" for="description">Description*</label>
                        <textarea class="form-control form-input" id="edit-log-modal-description-input" placeholder="Enter a short description" name="description" required="" rows="3"></textarea>
                        <br>
                        <label class="form-label">Previously uploaded images (Click on image to delete)</label>
                        <div id="edit-log-modal-previous-images-container">
                            <div class="edit-log-modal-previous-image-mask">
                                <div class="edit-log-modal-previous-image-delete-button"></div>
                            </div>
                        </div>
                        <input type="hidden" name="images_to_delete" id="edit-log-modal-images-to-delete">
                        <br>
                        <label class="form-label">Choose new images to upload</label>
                        <div class="form-image-group" id="edit-log-modal-images-container"></div>
                        <div id="edit-log-modal-more-images-button-wrapper">
                            <p id="edit-log-modal-more-images-button">+ Add another image</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-wrapper">
                        <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                        <button type="submit" form="edit-log-modal-form" class="btn btn-primary button-positive" id="edit-log-modal-submit-button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- World map model -->
    <div class="modal fade" id="world-map-modal">
        <div class="modal-dialog modal-lg" id="world-map-modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="world-map-modal-map-container">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block load_js_block %}
    <!-- gloval vars -->
    <script type="application/javascript">
        var csrf_token = "{{ csrf_token }}";
    </script>

    <!-- google maps javascript api -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="{% static 'mytravelog/js/user.js' %}" type="application/javascript"></script>
{% endblock %}
