{% extends 'mytravelog/master/base_main.html' %}
{% load static %}

{% block head_block %}
    <link href="{% static 'mytravelog/css/base_user.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
    <!-- Main jumbotron -->
    <div class="jumbotron cover-picture" style="background-image: url({{ requested_user_profile.cover_picture.url }})"></div>

    <!-- tabs container -->
    <div class="tabs-bar">
        <div class="container">
            <div class="col-lg-3">
                <div class="row"></div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="tabs-container">
                        <a class="tab" href="#logs">
                            <p class="tab-name">Logs</p>
                            <p class="count">{{ requested_user_logs|length }}</p>
                        </a>
                        <a class="tab" href="#albums">
                            <p class="tab-name">Albums</p>
                            <p class="count">{{ requested_user_albums|length }}</p>
                        </a>
                        <a class="tab" href="#followers">
                            <p class="tab-name">Followers</p>
                            <p class="count">{{ requested_user_followers|length }}</p>
                        </a>
                        <a class="tab" href="#following">
                            <p class="tab-name">Following</p>
                            <p class="count">{{ requested_user_following|length }}</p>
                        </a>

                        {% if authenticated_to_edit_profile %}
                            <button class="btn btn-primary button-add-new logs-content" id="add-new-log-button">+ Add Log</button>
                        {% endif %}

                        {% if authenticated_to_edit_profile %}
                            <button class="btn btn-primary button-add-new albums-content" id="add-new-album-button">+ Add Album</button>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-user-container">
        <div class="col-lg-3">
            <div class="profile-picture-container">
                <img class="profile-picture" src="{{ requested_user_profile.profile_picture.url }}">
            </div>
            <p class="full-name">{{ requested_user_profile.user.get_full_name }}</p>
            <p class="username">@{{ requested_user_profile.user.username }}</p>
            <div class="left-column">
                <div class="travel-stats-container">
                    <div class="stat-container">
                        <p class="count">{{ requested_user_profile.country_count }}</p>
                        <p class="title">Countries</p>
                    </div>
                    <div class="stat-container">
                        <p class="count">{{ requested_user_profile.city_count }}</p>
                        <p class="title">Cities</p>
                    </div>
                    <div class="stat-container">
                        <p class="count">1</p>
                        <p class="title">Rank</p>
                    </div>

                    <!-- world map button -->
                    <button class="btn btn-primary world-map-button" id="show-on-map-button">Show on Map</button>
                </div>
                <!-- main follow button -->
                {% if authenticated_to_like_and_comment and requested_user != user %}
                    {% if is_followed %}
                        <button class="btn follow-button follow-button-active" id="main-follow-button" data-following-user-profile-id="{{ requested_user_profile.id }}">Following</button>
                    {% else %}
                        <button class="btn follow-button" id="main-follow-button" data-following-user-profile-id="{{ requested_user_profile.id }}">Follow</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="right-column">
                {% block right_column_block %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Popup block -->
    {% block popup_block %}
    {% endblock %}


{% endblock %}

{% block load_js_block %}
    <!-- gloval vars -->
    <script type="application/javascript">
        var csrf_token = "{{ csrf_token }}";
    </script>

    <!-- google maps javascript api -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="{% static 'mytravelog/js/user.js' %}" type="application/javascript"></script>
{% endblock %}
