{% extends 'mytravelog/master/base_main.html' %}
{% load static %}

{% block head_block %}
    <link href="{% static 'mytravelog/css/base_user.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mytravelog/css/logs.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
    <!-- Main jumbotron -->
    {% block cover_picture_block %}
    {% endblock %}

    <!-- tabs container -->
    <div class="tabs-or-stats-bar">
        <div class="container">
            <div class="col-lg-3">
                <div class="row"></div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="tabs-or-stats-container">
                        {% block tabs-or-stats-block %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-user-container">
        <div class="col-lg-3">
            <div class="profile-picture-container">
                <img class="profile-picture" src="{{ requested_user_profile.profile_picture.url }}">
            </div>
            <p class="full-name">{{ requested_user_profile.user.get_full_name }}</p>
            <p class="username">@{{ requested_user_profile.user.username }}</p>
            <div class="left-column">
                <div class="travel-stats-container">
                    <div class="stat-container">
                        <p class="count">{{ requested_user_profile.country_count }}</p>
                        <p class="title">Countries</p>
                    </div>
                    <div class="stat-container">
                        <p class="count">{{ requested_user_profile.city_count }}</p>
                        <p class="title">Cities</p>
                    </div>
                    <div class="stat-container">
                        <p class="count">1</p>
                        <p class="title">Rank</p>
                    </div>

                    <!-- world map button -->
                    <button class="btn btn-primary world-map-button" id="show-on-map-button" data-requested-user-username="{{ requested_user.username }}" data-requested-user-first-name="{{ requested_user.first_name }}">Show on Map</button>
                </div>
                <!-- main follow button -->
                {% if can_follow %}
                    {% if is_followed %}
                        <button class="btn follow-button follow-button-active" id="main-follow-button" data-following-user-profile-id="{{ requested_user_profile.id }}">Following</button>
                    {% else %}
                        <button class="btn follow-button" id="main-follow-button" data-following-user-profile-id="{{ requested_user_profile.id }}">Follow</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-9 right-column-container">
            <div class="right-column">
                {% block right_column_block %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- All modals -->
    <!-- Add or Edit album modal -->
    <div class="modal fade" id="add-or-edit-album-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="add-or-edit-album-modal-title">Add new album</h4>
                </div>
                <div class="modal-body">
                    <form class="form-container form-group" id="add-or-edit-album-modal-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="alert alert-danger error-container" id="add-or-edit-album-modal-error-container"></div>

                        <label class="form-label" for="name">Name*</label>
                        <input class="form-control form-input" id="add-or-edit-album-modal-name-input" name="name" type="text" autofocus="" required="" placeholder="Enter the name of the album">
                        <br>
                        <label class="form-label" for="start_date">Start date*</label>
                        <input class="form-control form-input" id="add-or-edit-album-modal-start-date-input" name="start_date" type="date" min="1900-01-01" max="9000-12-31" required="">
                        <br>
                        <label class="form-label" for="end_date">End date*</label>
                        <input class="form-control form-input" id="add-or-edit-album-modal-end-date-input" name="end_date" type="date" min="1900-01-01" max="9000-12-31" required="">
                        <br>
                        <label class="form-label" for="cover_picture">Cover picture</label>
                        <input class="form-control form-input" name="cover_picture" type="file">

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-wrapper">
                        <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                        <button type="submit" form="add-or-edit-album-modal-form" class="btn btn-primary button-positive" id="add-or-edit-album-modal-submit-button">Add</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Delete album modal -->
    <div class="modal fade" id="delete-album-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete album</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error-container" id="delete-album-modal-error-container"></div>
                    <p>Are you sure you want to delete the following album:</p>
                    <p class="delete-album-modal-paragraph">Name: <span id="delete-album-modal-album-name"></span></p>
                    <p class="delete-album-modal-paragraph">Created at: <span id="delete-album-modal-created-at"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger button-positive" id="delete-album-modal-submit-button">Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- World map model -->
    <div class="modal fade" id="world-map-modal">
        <div class="modal-dialog modal-lg" id="world-map-modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="world-map-modal-map-container">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block load_js_block %}
    <script src="{% static 'mytravelog/js/main.js' %}" type="application/javascript"></script>
{% endblock %}
