{% extends 'mytravelog/master/base_main.html' %}
{% load static %}

{% block head_block %}
    <link href="{% static 'mytravelog/css/city.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mytravelog/css/logs.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
    <!-- Main jumbotron -->
    <div class="jumbotron-home">
        <div class="mask">
            <div class="name-container">
                <h1 class="city-name">{{ requested_city.name }}</h1>
                <p class="country-name">{{ requested_city.country_name }}</p>
            </div>
        </div>
    </div>

    <!-- tabs container -->
    <div class="tabs-bar">
        <div class="container">
            <div class="col-lg-3">
                <div class="row">

                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="tabs-container">
                        <a class="tab" href="#info">
                            <p class="tab-name">Information</p>
                        </a>
                        <a class="tab" href="#weather">
                            <p class="tab-name">Weather Forecast</p>
                        </a>
                        <a class="tab" href="#logs">
                            <p class="tab-name">Logs in {{ requested_city.name }}</p>
                        </a>
                        <button class="btn btn-default add-to-wishlist-button" id="add-to-wishlist-button">Add to Wishlist</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-city-container">
        <div class="col-lg-3">
            <div class="country-flag-container">
                <img class="country-flag" src="{% static 'mytravelog/imgs/flags/'|add:requested_city.country_url_name|add:'.jpg' %}">
            </div>
            <p class="city-name">{{ requested_city.name }}</p>
            <p class="country-name">{{ requested_city.country_name }}</p>
            <div class="city-stats-container">
                <div class="stat">
                    <p class="value">{{ requested_city.tourist_count }} million</p>
                    <p class="title">Tourist Count (2011)</p>
                </div>
                <div class="stat">
                    <p class="value">{{ requested_city.tourist_growth }}%</p>
                    <p class="title">Tourist Growth (2011 - 2012)</p>
                </div>
                <div class="stat">
                    <p class="value">#1</p>
                    <p class="title">City Rank</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <!-- information content -->
                <div class="info-content">
                    <div class="info-container default-box-shadow">
                        <p class="info-text">{{ requested_city.description }}</p>
                    </div>
                </div>

                <!-- weather content -->
                <div class="weather-content">
                    <div class="weather-container">
                    </div>
                </div>

                <!-- logs content -->
                <div class="logs-content">
                    {% include 'mytravelog/logs.html' with requested_user_logs=requested_city_logs %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block load_js_block %}
    <script src="{% static 'mytravelog/js/user.js' %}" type="application/javascript"></script>
{% endblock %}