{% extends 'mytravelog/master/base_main.html' %}

{% load static %}
{% load humanize %}

{% block head_block %}
    <link href="{% static 'mytravelog/css/leaderboard.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
    <div class="title-container">
        <p class="title">Leaderboard</p>
        <div class="btn-group leaderboard-model-switcher" role="group" aria-label="...">
            {% if model == 'users' %}
                <a type="button" class="btn btn-default btn-primary model" href="/mytravelog/leaderboard/users/" id="model-users">Users</a>
                <a type="button" class="btn btn-default model" href="/mytravelog/leaderboard/cities/" id="model-cities">Cities</a>
            {% elif model == 'cities' %}
                <a type="button" class="btn btn-default model" href="/mytravelog/leaderboard/users/" id="model-users">Users</a>
                <a type="button" class="btn btn-default btn-primary model" href="/mytravelog/leaderboard/cities/" id="model-cities">Cities</a>
            {% endif %}
        </div>
    </div>

    <div class="container main-leaderboard-container">
        <form class="search-form" method="get">
            {% if model == 'users' %}
                <input class="input-search" id="input-search" type="text" name="query" placeholder="Search by name or username" value="{{ query }}" required="">
            {% else %}
                <input class="input-search" id="input-search" type="text" name="query" placeholder="Search by city or country name" value="{{ query }}" required="">
            {% endif %}
            <button class="button-search" type="submit"><img class="image-search" src="{% static 'mytravelog/imgs/default/icon_search_2.png' %}"></button>
        </form>

        {% if requested_page_items|length != 0 %}
            <p class="help-text">Note: Click on any column heading to sort the results by that column</p>
            <table class="table table-bordered table-custom table-striped table-hover extra-box-shadow">
                {% if model == 'users' %}
                    <thead>
                    <tr class="row-heading">
                        <th data-order-by="rank">#</th>
                        <th data-order-by="first_name">Full Name</th>
                        <th data-order-by="username">Username</th>
                        <th data-order-by="city_count">Cities Visited</th>
                        <th data-order-by="country_count">Countries Visited</th>
                        <th data-order-by="log_count">Logs Posted</th>
                        <th data-order-by="follower_count">Followers</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_profile in requested_page_items %}
                        <tr>
                            <td>{{ user_profile.rank }}</td>
                            <td><div class="profile-picture" style="background-image: url('{{ user_profile.profile_picture.url }}')"></div>{{ user_profile.user.get_full_name }}</td>
                            <td><a class="link-black" href="/mytravelog/user/{{ user_profile.user.username }}/">{{ user_profile.user.username }}</a></td>
                            <td>{{ user_profile.city_count }}</td>
                            <td>{{ user_profile.country_count }}</td>
                            <td>{{ user_profile.log_count }}</td>
                            <td>{{ user_profile.follower_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <thead>
                    <tr class="row-heading">
                        <th data-order-by="rank">#</th>
                        <th data-order-by="name">City</th>
                        <th data-order-by="country_name">Country</th>
                        <th data-order-by="tourist_count">Tourist Count (2012)</th>
                        <th data-order-by="tourist_growth">Growth % (2011-2012)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for city in requested_page_items %}
                        <tr class="row-regular" data-href="/mytravelog/city/{{ city.url_name }}">
                            <td>{{ city.rank }}</td>
                            <td><a class="link-black" href="/mytravelog/city/{{ city.url_name }}/">{{ city.name }}</a></td>
                            <td><img class="country-flag" src="{% static 'mytravelog/imgs/flags/'|add:city.country_url_name|add:'.jpg' %}"> {{ city.country_name }}</td>
                            <td>{{ city.tourist_count|intword }}</td>
                            <td>{{ city.tourist_growth }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        {% else %}
            <div class="nothing-found-container">
                <p class="nothing-found-text">Nothing found here</p>
            </div>
        {% endif %}

        <nav class="nav-pagination">
            <ul class="pagination">
                {% if requested_page_items.has_previous %}
                    <li><a class="pagination-button" data-href="{{ requested_page_items.previous_page_number }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                {% else %}
                    <li class="disabled"><a class="pagination-button"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                {% endif %}
                {% for page in requested_page_items.paginator.page_range %}
                    {% if requested_page_items.number == page %}
                        <li class="active"><a class="pagination-button" data-href="{{ page }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a class="pagination-button" data-href="{{ page }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                    {% endif %}
                {% endfor %}
                {% if requested_page_items.has_next %}
                    <li><a class="pagination-button" data-href="{{ requested_page_items.next_page_number }}"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                {% else %}
                    <li class="disabled"><a class="pagination-button"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block load_js_block %}
    <script src="{% static 'mytravelog/js/main.js' %}" type="application/javascript"></script>
{% endblock %}