{% extends 'mytravelog/master/base_main.html' %}

{% load static %}

{% block head_block %}
    <link href="{% static 'mytravelog/css/live_feed.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mytravelog/css/logs.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
    <div class="title-container">
        <p class="title">Live Feed</p>
        <div class="btn-group feed-filter-container" role="group" aria-label="...">
            {% if requested_filter == 'all' %}
                <a type="button" class="btn btn-default btn-primary filter" href="/mytravelog/live_feed/all/" id="filter-all">All users</a>
                {% if current_user_profile %}
                    <a type="button" class="btn btn-default filter" href="/mytravelog/live_feed/following/" id="filter-following">Users followed by me</a>
                {% else %}
                    <a type="button" class="btn btn-default filter disabled" href="/mytravelog/live_feed/following/" id="filter-following">Users followed by me</a>
                {% endif %}
            {% elif requested_filter == 'following' %}
                <a type="button" class="btn btn-default filter" href="/mytravelog/live_feed/all/" id="filter-all">All users</a>
                <a type="button" class="btn btn-default btn-primary filter" href="/mytravelog/live_feed/following/" id="filter-following">Users followed by me</a>
            {% endif %}
        </div>
    </div>

    <div class="container main-feed-container">
        <div class="logs-content">
            {% include 'mytravelog/logs.html' with requested_user_logs=requested_page_logs requested_user_albums=current_user_albums %}
        </div>

        <nav>
            <ul class="pager">
                {% if requested_page_logs.has_previous %}
                    <li class="previous"><a href="?page={{ requested_page_logs.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                {% else %}
                    <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
                {% endif %}
                {% if requested_page_logs.has_next %}
                    <li class="next"><a href="?page={{ requested_page_logs.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="next disabled"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block load_js_block %}
    <script src="{% static 'mytravelog/js/main.js' %}" type="application/javascript"></script>
{% endblock %}