{% load static %}
{% load humanize %}

<div class="logs-container">
    {% for log in requested_user_logs %}
        <div class="log extra-box-shadow" data-id="{{ log.id }}" data-location="{{ log.city.name }}, {{ log.city.country_name }}" data-latitude="{{ log.latitude }}" data-longitude="{{ log.longitude }}" data-album-name="{{ log.album.name }}" data-description="{{ log.description }}" data-created-at="{{ log.created_at }}">
            <div class="header">
                <img class="country-flag" src="{% static 'mytravelog/imgs/flags/'|add:log.city.country_url_name|add:'.jpg' %}">
                <p class="location">{{ log.city.name }}, {{ log.city.country_name }}</p>

                <div class="overflow-button"></div>
                <div class="log-dropdown-container">
                    <div class="log-dropdown-menu">
                        <p class="log-dropdown-item log-dropdown-item-view">View</p>
                        <p class="log-dropdown-item log-dropdown-item-share">Share</p>
                        {% if log.can_edit %}
                            <p class="log-dropdown-item log-dropdown-item-edit">Edit</p>
                            <p class="log-dropdown-item log-dropdown-item-delete">Delete</p>
                        {% endif %}
                    </div>
                </div>


            </div>

            {% if log.pictures|length > 0 %}
                <div class="log-pictures-container">
                    {% if log.pictures|length == 1 %}
                        <div class="log-picture log-picture-full" data-url="{{ log.pictures.0.picture.url }}" data-id="{{ log.pictures.0.id }}" style="background-image: url('{{ log.pictures.0.picture.url }}')">
                            <div class="mask"></div>
                        </div>
                    {% elif log.pictures|length == 2 %}
                        <div class="log-picture log-picture-left" data-url="{{ log.pictures.0.picture.url }}" data-id="{{ log.pictures.0.id }}" style="background-image: url('{{ log.pictures.0.picture.url }}')">
                            <div class="mask"></div>
                        </div><!--
                                --><div class="log-picture log-picture-right" data-url="{{ log.pictures.1.picture.url }}" data-id="{{ log.pictures.1.id }}" style="background-image: url('{{ log.pictures.1.picture.url }}')">
                        <div class="mask"></div>
                    </div>
                    {% else %}
                        {% for log_picture in log.pictures %}
                            {% if forloop.counter == 1 %}
                                <div class="log-picture log-picture-left" data-url="{{ log_picture.picture.url }}" data-id="{{ log_picture.id }}" style="background-image: url('{{ log_picture.picture.url }}')">
                                    <div class="mask"></div>
                                </div><!--
                                    {% elif forloop.counter == 2 %}
                                        --><div class="log-picture-right">
                                <div class="log-picture log-picture-right-top" data-url="{{ log_picture.picture.url }}" data-id="{{ log_picture.id }}" style="background-image: url('{{ log_picture.picture.url }}')">
                                    <div class="mask"></div>
                                </div>
                                {% elif forloop.counter == 3 %}
                                <div class="log-picture log-picture-right-bottom" data-url="{{ log_picture.picture.url }}" data-id="{{ log_picture.id }}" style="background-image: url('{{ log_picture.picture.url }}')">
                                    <div class="mask"></div>
                                </div>
                            </div>
                            {% else %}
                                <div class="log-picture" data-url="{{ log_picture.picture.url }}" data-id="{{ log_picture.id }}" style="display: none"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}

            <p class="description">{{ log.description }}</p>

            <div class="user-info-container">
                <img class="profile-picture" src="{{ log.user_profile.profile_picture.url }}">
                <div class="name-and-timestamp-container">
                    <p class="name">{{ log.user_profile.user.get_full_name }}</p>
                    <p class="timestamp">{{ log.created_at|naturaltime }}</p>
                </div>
            </div>

            <div class="like-and-comment-count-container">
                <div class="like-count-container">
                    <p class="title">Likes</p>
                    <p class="count">{{ log.likes.count }}</p>
                </div>
                <div class="comment-count-container">
                    <p class="title">Comments</p>
                    <p class="count">{{ log.comments.count }}</p>
                </div>
                <div class="liker-profile-pictures">
                    {% for like in log.likes %}
                        <a href="/mytravelog/user/{{ like.liker_user_profile.user.username }}/" data-toggle="tooltip" title="{{ like.liker_user_profile.user.username }}">
                            <div class="liker-profile-picture" style="background-image: url('{{ like.liker_user_profile.profile_picture.url }}')"></div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="like-and-comment-container">
                <div class="comment-container">
                    {% for comment in log.comments %}
                        <div class="comment">
                            <a href="/mytravelog/user/{{ comment.commenter_user_profile.user.username }}/">
                                <div class="comment-profile-picture" style="background-image: url('{{ comment.commenter_user_profile.profile_picture.url }}/')"></div>
                            </a>
                            <div class="comment-content">
                                <div class="comment-header">
                                    <a class="comment-full-name" href="/mytravelog/user/{{ comment.commenter_user_profile.user.username }}/">{{ comment.commenter_user_profile.user.get_full_name }}</a>
                                    <a class="comment-username" href="/mytravelog/user/{{ comment.commenter_user_profile.user.username }}/">@{{ comment.commenter_user_profile.user.username }}</a>
                                    <p class="comment-timestamp">• {{ comment.created_at|naturaltime }}</p>
                                </div>
                                <p class="comment-body">{{ comment.body }}</p>
                                {% if comment.can_delete %}
                                    <p class="comment-delete-button" data-comment-id="{{ comment.id }}">Delete</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if current_user_profile %}
                    {% if log.liked %}
                        <button class="like-log-button like-log-button-active" data-log-id="{{ log.id }}"></button>
                        <input class="form-control comment-log-input" data-log-id="{{ log.id }}" type="text" placeholder="Say something nice..." autocomplete="off" required="true">
                    {% else %}
                        <button class="like-log-button" data-log-id="{{ log.id }}"></button>
                        <input class="form-control comment-log-input" data-log-id="{{ log.id }}" type="text" placeholder="Say something nice..." autocomplete="off" required="true">
                    {% endif %}
                {% else %}
                    <button class="like-log-button" data-log-id="{{ log.id }}" disabled></button>
                    <input class="form-control comment-log-input" type="text" data-log-id="{{ log.id }}" placeholder="You need to sign in to comment" autocomplete="off" required="true" disabled>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<!-- All log related modals -->

<!-- Add log modal -->
<div class="modal fade" id="add-log-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="add-log-modal-title">Add new log</h4>
            </div>
            <div class="modal-body">
                <form class="form-container form-group" id="add-log-modal-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="alert alert-danger error-container" id="add-log-modal-error-container"></div>

                    <div id="add-log-modal-map-container"></div>

                    <label class="form-label" for="location">Current location*</label>
                    <input class="form-control form-input" id="add-log-modal-location-input" name="location" type="text" readonly placeholder="Enter the name of your current city" required="">
                    <input class="form-control form-input" id="add-log-modal-latitude-input" name="latitude" type="hidden" >
                    <input class="form-control form-input" id="add-log-modal-longitude-input" name="longitude" type="hidden">
                    <br>
                    <label class="form-label" for="album_name">Choose an album this log belongs to*</label>
                    <select class="form-control form-input" name="album_name" id="add-log-modal-album-input" required="">
                        <option value="None">None</option>
                        {% for album in requested_user_albums %}
                            <option value="{{ album.name }}">{{ album.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label class="form-label" for="description">Description*</label>
                    <textarea class="form-control form-input" id="add-log-modal-description-input" placeholder="Enter a short description" name="description" required="" rows="3"></textarea>
                    <br>
                    <label class="form-label">Choose images to upload*</label>
                    <div class="form-image-group" id="add-log-modal-images-container">
                    </div>
                    <div id="add-log-modal-more-images-button-wrapper">
                        <p id="add-log-modal-more-images-button">+ Add another image</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-wrapper">
                    <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                    <button type="submit" form="add-log-modal-form" class="btn btn-primary button-positive" id="add-log-modal-submit-button">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- log picture modal -->
<div class="modal fade" id="log-picture-modal">
    <div class="modal-dialog modal-lg" id="log-picture-modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="log-picture-modal-body">
                <div id="log-picture-modal-picture"></div>
                <div id="log-picture-modal-header">
                    <div id="log-picture-modal-close-button"></div>
                </div>
                <div id="log-picture-modal-footer">
                    <p id="log-picture-modal-previous-button">< Prev</p>
                    <p id="log-picture-modal-index">1 of 5</p>
                    <p id="log-picture-modal-next-button">Next ></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete log modal -->
<div class="modal fade" id="delete-log-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete log</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger error-container" id="delete-log-modal-error-container"></div>
                <p>Are you sure you want to delete the following log:</p>
                <p class="delete-log-modal-paragraph">Location: <span id="delete-log-modal-location"></span></p>
                <p class="delete-log-modal-paragraph">Created at: <span id="delete-log-modal-created-at"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger button-positive" id="delete-log-modal-submit-button">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit log modal -->
<div class="modal fade" id="edit-log-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="edit-log-modal-title">Edit log</h4>
            </div>
            <div class="modal-body">
                <form class="form-container form-group" id="edit-log-modal-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="alert alert-danger error-container" id="edit-log-modal-error-container"></div>

                    <div id="edit-log-modal-map-container"></div>

                    <label class="form-label" for="location">Location*</label>
                    <input class="form-control form-input" id="edit-log-modal-location-input" name="location" type="text" readonly required="">
                    <br>
                    <label class="form-label" for="album_name">Album*</label>
                    <select class="form-control form-input" name="album_name" id="edit-log-modal-album-input" required="">
                        <option value="None">None</option>
                        {% for album in requested_user_albums %}
                            <option value="{{ album.name }}">{{ album.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label class="form-label" for="description">Description*</label>
                    <textarea class="form-control form-input" id="edit-log-modal-description-input" placeholder="Enter a short description" name="description" required="" rows="3"></textarea>
                    <br>
                    <label class="form-label">Previously uploaded images (Click on image to delete)</label>
                    <div id="edit-log-modal-previous-images-container">
                        <div class="edit-log-modal-previous-image-mask">
                            <div class="edit-log-modal-previous-image-delete-button"></div>
                        </div>
                    </div>
                    <input type="hidden" name="images_to_delete" id="edit-log-modal-images-to-delete">
                    <br>
                    <label class="form-label">Choose new images to upload</label>
                    <div class="form-image-group" id="edit-log-modal-images-container"></div>
                    <div id="edit-log-modal-more-images-button-wrapper">
                        <p id="edit-log-modal-more-images-button">+ Add another image</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-wrapper">
                    <button type="button" class="btn btn-default button-negative" data-dismiss="modal">Close</button>
                    <button type="submit" form="edit-log-modal-form" class="btn btn-primary button-positive" id="edit-log-modal-submit-button">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Share log modal -->
<div class="modal fade" id="share-log-modal">
    <div class="modal-dialog" id="share-log-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="share-log-modal-title">Share log</h4>
            </div>
            <div class="modal-body">
                <p class="share-log-modal-paragraph">Location: <span id="share-log-modal-location"></span></p>
                <p class="share-log-modal-paragraph">Created at: <span id="share-log-modal-created-at"></span></p>
                <p id="share-log-modal-share-text">Choose where to share this log:</p>
                <div id="share-log-modal-icons-container">
                </div>
            </div>
        </div>
    </div>
</div>