{% extends 'mytravelog/master/base_main.html' %}
{% load static %}

{% block head_block %}
    <link href="{% static 'mytravelog/css/sign_up.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_block %}
    <div class="container form-container">
        <form class="form-signup extra-box-shadow" method="POST" action="/mytravelog/sign_up/" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="title">Sign up</h3>
            <hr class="divider">

            <div class="wrapper">
                {% if error %}
                    <div class="alert alert-danger alert-custom" role="alert"><strong>Error!</strong> {{ error }}</div>
                {% endif %}

                <label class="form-label" for="first_name">First name*</label>
                <input type="text" class="form-control form-input" name="first_name" placeholder="Enter your first name" required="" value="{{ previous_post_data.first_name }}">

                <label class="form-label" for="last_name">Last name*</label>
                <input type="text" class="form-control form-input" name="last_name" placeholder="Enter your last name" required="" value="{{ previous_post_data.last_name }}">

                <label class="form-label" for="email">Email*</label>
                <input type="email" class="form-control form-input" name="email" placeholder="example@abc.com" required="" value="{{ previous_post_data.email }}"/>

                <label class="form-label" for="username">Username*</label>
                <input type="text" class="form-control form-input" name="username" placeholder="Must be at least 6 characters" required="" value="{{ previous_post_data.username }}"/>

                <label class="form-label" for="password">Password*</label>
                <input type="password" class="form-control form-input" name="password" placeholder="Must be at least 6 characters" required="" pattern=".{6,50}" title="Must be at least 6 characters"/>

                <label class="form-label" for="profile_picture">Profile Picture</label>
                <input type="file" class="form-control form-input" name="profile_picture"/>

                <label class="form-label" for="cover_picture">Cover Picture</label>
                <input type="file" class="form-control form-input" name="cover_picture"/>

                <div class="checkbox checkbox-terms">
                    <label>
                        <input type="checkbox" required="" > I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
                    </label>
                </div>

                <button class="btn btn-sm button-signup" type="submit">Sign up</button>
            </div>
        </form>
    </div>
{% endblock %}

