
/*----------------base_user----------------*/
body {
    background-color: #f5f8fa;
}

.cover-picture {
    height: 350px;
    margin: 0;
    padding: 50px 0 0 0 ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tabs-bar {
    border-bottom: 1px solid #e1e8ed;
    height: 60px;
    background-color: #ffffff;
    position: relative;
}

.tabs-bar .tabs-container {
    height: 60px;
    overflow: hidden;
    position: relative;
}

.tabs-bar .tabs-container .tab {
    height: 60px;
    padding: 12px 15px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    border-bottom: none;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

.tabs-bar .tabs-container .tab:hover,
.tabs-bar .tabs-container .tab-active {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #0084B4;
}

.tabs-bar .tabs-container .tab .tab-name {
    margin: 0;
    color: #66757f;
    font-size: 85%;
    text-transform: uppercase;
}

.tabs-bar .tabs-container .tab .count {
    margin: -2px;
    color: #0084B4;
    font-size: 130%;
}

.tabs-bar .tabs-container .edit-profile-button {
    display: inline-block;
    float: right;
    margin-top: 12px;
}

.main-user-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-user-container .profile-picture-container {
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    height: 200px;
    width: 200px;
    margin-top: -180px;
}

.main-user-container .profile-picture-container .profile-picture {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.main-user-container .full-name {
    font-size: 150%;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.main-user-container .username {
    font-size: 110%;
    margin-top: -5px;
    color: gray;
    padding: 0;
}

/*----------------popups----------------*/
.form-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.error-container {
    display: none;
    padding: 10px;
}

.modal-footer-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer-wrapper .button-negative {
    width: 20%;
}

.modal-footer-wrapper .button-positive {
    width: 20%;
}

#delete-album-modal-album-name {
    font-weight: bold;
}

.button-add-new {
    margin-top: 15px;
    width: 200px;
}

/*----------------logs content----------------*/

.logs-content {
    display: none;
}

/*----------------albums content----------------*/

.albums-content {
    display: none;
}

.albums-container .custom-column {
    margin-bottom: 20px;
}

.albums-container .album {
    width: 100%;
    height: 190px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.albums-container .album .cover-picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 5px;
}

.albums-container .album .cover-picture .mask {
    width: 100%;
    height: 100%;
    transition: 150ms;
}

.albums-container .album .cover-picture .mask .overflow-button {
    background-image: url('/static/mytravelog/imgs/default/overflow_light.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.albums-container .album .cover-picture .mask .overflow-button:hover + .album-dropdown-container {
    display: inherit;
}

.albums-container .album .cover-picture .mask .album-dropdown-container {
    display: none;
    width: 150px;
    position: absolute;
    top: 32px;
    right: 0;
}

.albums-container .album .cover-picture .mask .album-dropdown-container:hover {
    display: inherit;
}

.albums-container .album .cover-picture .mask .album-dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top: 5px;
}

.albums-container .album .cover-picture .mask .album-dropdown-item {
    color: #000000;
    margin: 0;
    padding: 5px 15px;
}

.albums-container .album .cover-picture .mask .album-dropdown-item:hover {
    color: #ffffff;
    margin: 0;
    background-color: #428bca;
    padding: 5px 15px;
}


.albums-container .album .cover-picture .mask:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.albums-container .album .name {
    margin: 10px 0 0 0;
    color: #000000;
    font-weight: bold;
}

.albums-container .album .duration {
    margin: 0;
    color: gray;
}

/*----------------followers content----------------*/

.followers-content {
    display: none;
}

/*----------------following content----------------*/

.following-content {
    display: none;
}

