
.navbar-shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand-custom {
    color: gray !important;
    font-size: 130%;
}

.navbar .a-signin {
    border: 2px solid #c2c9d4;
    border-radius: 3px;
    padding: 4px 15px;
    margin: 9px 5px;
}

.navbar .a-signin:hover {
    border-color: gray;
}

.navbar .a-signup {
    background-color: #8ecf6c;
    border: 2px solid #8ecf6c;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 9px 5px;
    color: #ffffff !important;
}

.navbar .a-signup:hover {
    background-color: #71a556 !important;
    border-color: #71a556 !important;
}

.navbar .a-signup:focus {
    background-color: #71a556 !important;
}

.footer-container .footer-divider {
    border-color: lightgray;
}

.footer-container .footer-text {
    display: inline-block;
}

/* Map classes */
.map-info-window {
    overflow: hidden;
    white-space: nowrap;
}

/* General classes */
.default-box-shadow {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

.extra-box-shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.nothing-found-container {
    border: 1px dashed darkgray;
    display: table;
    text-align: center;
    width: 100%;
    height: 150px;
}

.nothing-found-container .nothing-found-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 110%;
    color: gray;
}

.link-black {
    color: #000000;
}