
/*----------------base_user----------------*/
body {
    background-color: #f5f8fa;
    overflow-y: scroll;
    margin-top: 50px;
}

.cover-picture {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tabs-or-stats-bar {
    border-bottom: 1px solid #e1e8ed;
    height: 60px;
    background-color: #ffffff;
    position: relative;
}

.tabs-or-stats-bar .tabs-or-stats-container {
    height: 60px;
    overflow: hidden;
    position: relative;
}

.main-user-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-user-container .profile-picture-container {
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    height: 200px;
    width: 200px;
    margin-top: -180px;
}

.main-user-container .profile-picture-container .profile-picture {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.main-user-container .full-name {
    font-size: 150%;
    font-weight: bold;
    margin: 5px 0 0 0;
    text-align: center;
    width: 200px;
}

.main-user-container .username {
    font-size: 110%;
    margin-top: -5px;
    color: gray;
    padding: 0;
    width: 200px;
    text-align: center;
}

.travel-stats-container {
    text-align: center;
    width: 200px;
    margin-top: 15px;
}

.travel-stats-container .title {
    font-size: 130%;
    text-align: center;
    color: gray;
}

.travel-stats-container .stat-container {
    display: inline-block;
    width: 31%;
}

.travel-stats-container .stat-container .title {
    text-align: center;
    font-weight: 500;
    color: gray;
    font-size: 80%;
    text-transform: uppercase;
    margin: 0;
}

.travel-stats-container .stat-container .count {
    text-align: center;
    margin: 0;
    color: #0084B4;
    font-size: 130%;
    padding: 0;
}

.travel-stats-container .world-map-button {
    margin-top: 15px;
    width: 100%;
}

.travel-stats-container .world-map-button:focus {
    outline: none;
}

#main-follow-button {
    width: 200px;
    margin-top: 5px;
    float: left;
}

.right-column-container {
    padding: 0;
    margin: 0;
}

/*----------------modals----------------*/
.form-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.error-container {
    display: none;
    padding: 10px;
}

.modal-footer-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer-wrapper .button-negative {
    width: 20%;
}

.modal-footer-wrapper .button-positive {
    width: 20%;
}

#delete-album-modal .delete-album-modal-paragraph {
    margin: 0;
}

#delete-album-modal-album-name {
    font-weight: bold;
}

#delete-album-modal-created-at {
    font-weight: bold;
}

.button-add-new {
    display: inline-block;
    float: right;
    margin-top: 12px;
    width: 140px;
}

#world-map-modal #world-map-modal-dialog {
    width: 60%;
    min-width: 800px;
}

#world-map-modal #world-map-modal-dialog #world-map-modal-map-container {
    background-color: #000000;
    height: 600px;
    border-radius: 5px;
}

/*----------------main user page----------------*/

.tabs-or-stats-bar .tabs-or-stats-container .tab {
    height: 60px;
    padding: 12px 15px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    border-bottom: none;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

.tabs-or-stats-bar .tabs-or-stats-container .tab:hover,
.tabs-or-stats-bar .tabs-or-stats-container .tab-active {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #0084B4;
}

.tabs-or-stats-bar .tabs-or-stats-container .tab .tab-name {
    margin: 0;
    color: #66757f;
    font-size: 80%;
    text-transform: uppercase;
}

.tabs-or-stats-bar .tabs-or-stats-container .tab .count {
    color: #0084B4;
    font-size: 125%;
}

/*----------------logs content----------------*/

.logs-content {
    display: none;
}

/*in a separate file: logs.css*/

/*----------------albums content----------------*/

.albums-content {
    display: none;
}

.albums-container .custom-column {
    margin-bottom: 20px;
}

.albums-container .album {
    width: 100%;
    height: 160px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.albums-container .album .cover-picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 5px;
}

.albums-container .album .cover-picture .mask {
    width: 100%;
    height: 100%;
    transition: 150ms;
}

.albums-container .album .cover-picture .mask .overflow-button {
    background-image: url('/static/mytravelog/imgs/default/overflow_light.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.albums-container .album .cover-picture .mask .overflow-button:hover + .album-dropdown-container {
    display: inherit;
}

.albums-container .album .cover-picture .mask .album-dropdown-container {
    display: none;
    width: 130px;
    position: absolute;
    top: 32px;
    right: -60px;
    z-index: 1000;
}

.albums-container .album .cover-picture .mask .album-dropdown-container:hover {
    display: inherit;
}

.albums-container .album .cover-picture .mask .album-dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top: 5px;
}

.albums-container .album .cover-picture .mask .album-dropdown-item {
    color: #000000;
    margin: 0;
    padding: 5px 15px;
    text-decoration: none;
}

.albums-container .album .cover-picture .mask .album-dropdown-item:hover {
    color: #ffffff;
    margin: 0;
    background-color: #428bca;
    /*padding: 5px 15px;*/
}


.albums-container .album .cover-picture .mask:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.albums-container .album .name {
    margin: 10px 0 0 0;
    color: #000000;
    font-weight: bold;
}

.albums-container .album .duration {
    margin: 0;
    color: gray;
}

/*----------------followers content----------------*/

.followers-content {
    display: none;
}

.followers-container .follower {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 25px;
}

.followers-container .follower .cover-picture {
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #e1e8ed;
    background-color: #0084b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.followers-container .follower .info-container {
    margin: 0 10px 10px 10px;
}

.followers-container .follower .info-container .profile-picture-container {
    width: 76px;
    height: 76px;
    margin-top: -50px;
    margin-bottom: 5px;
    background-size: cover;
    border: 4px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
}

.followers-container .follower .info-container .profile-picture-container .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.follow-button {
    float: right;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid lightgrey;
    width: 100px;
}

.follow-button:focus {
    outline: none;
}

.follow-button:hover {
    background-color: #f2f2f2;
}

.follow-button-active {
    background-color: #68bf60;
    color: #ffffff !important;
}

.follow-button-active:hover {
    background-color: #5DAB56;
    color: #ffffff;
}

.followers-container .follower .info-container .full-name {
    font-weight: bold;
    font-size: 110%;
    padding-left: 3px;
    color: #000000;
}

.followers-container .follower .info-container .username {
    padding-left: 3px;
    color: gray;
    font-size: 90%;
}

/*----------------following content----------------*/

.following-content {
    display: none;
}

/*----------------user album page----------------*/

.album-cover-picture .mask {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.album-cover-picture .mask .title-container {
    display: table-cell;
    vertical-align: middle;
}

.album-cover-picture .mask .title-container .album-name {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
    font-size: 250%;
    margin: 0;
}

.album-cover-picture .mask .title-container .album-name-label {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,.8);
    font-size: 120%;
    padding: 0;
    margin: 0;
}

.tabs-or-stats-bar .tabs-or-stats-container .stat {
    height: 60px;
    padding: 12px 15px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-bottom: none;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

.tabs-or-stats-bar .tabs-or-stats-container .stat:hover,
.tabs-or-stats-bar .tabs-or-stats-container .stat-active {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #0084B4;
}

.tabs-or-stats-bar .tabs-or-stats-container .stat .stat-name {
    margin: 0;
    color: #66757f;
    font-size: 80%;
    text-transform: uppercase;
}

.tabs-or-stats-bar .tabs-or-stats-container .stat .value {
    color: #0084B4;
    font-size: 125%;
}

.tabs-or-stats-bar .tabs-or-stats-container #edit-album-button {
    float: right;
    margin-top: 12px;
    width: 80px;
}

.tabs-or-stats-bar .tabs-or-stats-container #delete-album-button {
    float: right;
    margin-top: 12px;
    margin-left: 10px;
    width: 80px;
}

.main-album-container .section-title {
    font-size: 100%;
    color: gray;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.main-album-container .album-pictures-container {
    margin-right: 7px;
    margin-left: 15px;
}

.main-album-container .album-pictures-container .album-picture {
    height: 120px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.main-album-container .album-pictures-container .album-picture .mask {
    width: 100%;
    height: 100%;
    transition: 150ms
}

.main-album-container .album-pictures-container .album-picture .mask:hover {
    background-color: rgba(0,0,0,0.3);
}

.main-album-container .album-pictures-container .album-pictures-col {
    padding: 0 10px 0 0;
}

.main-album-container .divider {
    border-top: 1px solid #E0E0E0;
}

.main-album-container .album-logs-container {
    margin-top: 10px;
}

.main-album-container .nothing-found-container {
    border: 1px dashed darkgray;
    display: table;
    text-align: center;
    width: 100%;
    height: 150px;
}

.main-album-container .nothing-found-container .nothing-found-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 130%;
    color: darkgray;
}