
/*----------------base_user----------------*/
body {
    background-color: #f5f8fa;
}

.cover-picture {
    height: 350px;
    margin: 0;
    padding: 50px 0 0 0 ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tabs-bar {
    border-bottom: 1px solid #e1e8ed;
    height: 60px;
    background-color: #ffffff;
    position: relative;
}

.tabs-bar .tabs-container {
    height: 60px;
    overflow: hidden;
    position: relative;
}

.tabs-bar .tabs-container .tab {
    height: 60px;
    padding: 12px 15px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    border-bottom: none;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

.tabs-bar .tabs-container .tab:hover,
.tabs-bar .tabs-container .tab-active {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #0084B4;
}

.tabs-bar .tabs-container .tab .tab-name {
    margin: 0;
    color: #66757f;
    font-size: 80%;
    text-transform: uppercase;
}

.tabs-bar .tabs-container .tab .count {
    color: #0084B4;
    font-size: 125%;
}

.tabs-bar .tabs-container .edit-profile-button {
    display: inline-block;
    float: right;
    margin-top: 12px;
}

.main-user-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-user-container .profile-picture-container {
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    height: 200px;
    width: 200px;
    margin-top: -180px;
}

.main-user-container .profile-picture-container .profile-picture {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.main-user-container .full-name {
    font-size: 150%;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.main-user-container .username {
    font-size: 110%;
    margin-top: -5px;
    color: gray;
    padding: 0;
}

/*----------------modals----------------*/
.form-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.error-container {
    display: none;
    padding: 10px;
}

.modal-footer-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer-wrapper .button-negative {
    width: 20%;
}

.modal-footer-wrapper .button-positive {
    width: 20%;
}

#delete-album-modal-album-name {
    font-weight: bold;
}

.button-add-new {
    margin-top: 15px;
    width: 200px;
}

#add-log-modal-more-images-button-wrapper {
    text-align: right;
}

#add-log-modal-more-images-button-wrapper #add-log-modal-more-images-button {
    color: #428bca;
    display: inline-block;
    cursor: pointer;
}

#add-log-modal-more-images-button-wrapper #add-log-modal-more-images-button:hover {
    color: #2e618d;
}

#add-log-modal-map-container {
    background-color: #f2f2f2;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#add-log-modal-image-input {
    margin-bottom: 5px;
}

/*----------------logs content----------------*/

.logs-content {
    display: none;
}

.logs-container .log {
    background-color: #ffffff;
    width: 600px;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logs-container .log .header {
    padding: 15px;
}


.logs-container .log .header .country-flag {
    width: 35px;
    height: 25px;
    display: inline-block;
}

.logs-container .log .header .location {
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    margin-left: 5px;
}

.logs-container .log .header .overflow-button {
    background-image: url('/static/mytravelog/imgs/default/overflow_dark.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
}

.logs-container .log .header .overflow-button:hover + .log-dropdown-container {
    display: inherit;
}

.logs-container .log .header .log-dropdown-container {
    display: none;
    width: 150px;
    position: absolute;
    margin-left: 500px;
    margin-top: -10px;

}

.logs-container .log .header .log-dropdown-container:hover {
    display: inherit;
}

.logs-container .log .header .log-dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top: 5px;
}

.logs-container .log .header .log-dropdown-item {
    color: #000000;
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
}

.logs-container .log .header .log-dropdown-item:hover {
    color: #ffffff;
    margin: 0;
    background-color: #428bca;
    padding: 5px 15px;
}

.logs-container .log .pictures-container {
    padding: 0;
    margin-bottom: 10px;
}

.logs-container .log .pictures-container .mask {
    width: 100%;
    height: 100%;
    transition: 150ms;
    cursor: pointer;
}

.logs-container .log .pictures-container .mask:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.logs-container .log .pictures-container .picture {
    background-position: center center;
    background-size: cover;
}

.logs-container .log .pictures-container .picture-full {
    width: 100%;
    height: 300px;
}

.logs-container .log .pictures-container .picture-left {
    width: 50%;
    height: 300px;
    display: inline-block;
}

.logs-container .log .pictures-container .picture-right {
    width: 50%;
    height: 300px;
    display: inline-block;
}

.logs-container .log .pictures-container .picture-right-top {
    width: 100%;
    height: 150px;
    display: block;
}

.logs-container .log .pictures-container .picture-right-bottom {
    width: 100%;
    height: 150px;
    display: block;
}


.logs-container .log .description {
    padding-left: 15px;
    padding-right: 15px;
}

.logs-container .log .user-info-container {
    padding: 15px;
}

.logs-container .log .user-info-container .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    float: left;
    margin-right: 8px;
}

.logs-container .log .user-info-container .name {
    margin: -4px 0 0 0;
    padding: 0;
    font-weight: bold;
}

.logs-container .log .user-info-container .timestamp {
    margin: 0;
    padding: 0;
    color: gray;
}

.logs-container .log .like-and-comment-count-container {
    margin: 5px 15px 10px 15px;
    border-bottom: 1px solid #e1e8ed;
    border-top: 1px solid #e1e8ed;
}

.logs-container .log .like-and-comment-count-container .count-container {
    display: inline-block;
    padding: 5px 20px 5px 10px;
}

.logs-container .log .like-and-comment-count-container .right {
    border-right: 1px solid #e1e8ed;
}


.logs-container .log .like-and-comment-count-container .count-container .title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #8899a6;
    font-size: 80%;
}

.logs-container .log .like-and-comment-count-container .count-container .count {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 125%;
    color: #0084B4;
}

.logs-container .log .like-and-comment-container {
    padding: 15px;
}

.logs-container .log .like-and-comment-container .like-log-button {
    background-image: url('/static/mytravelog/imgs/default/btn_like.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    float: left;
    width: 14%;
    height: 35px;
    margin-right: 10px;
    outline: none;
    border: solid 1px lightgrey;
    border-radius: 5px;
    box-shadow: 0 1px 1px #f0f0f0;
}

.logs-container .log .like-and-comment-container .like-log-button:hover {
    background-color: #eeeeee;
}

.logs-container .log .like-and-comment-container .like-log-button-active {
    background-image: url('/static/mytravelog/imgs/default/btn_liked.png');
    border: none;
    background-color: #0084B4;
}

.logs-container .log .like-and-comment-container .like-log-button-active:hover {
    background-color: #2e618d;
}

.logs-container .log .like-and-comment-container .comment-log-input {
    width: 84%;
    height: 35px;
    background-color: #f2f2f2;
    border: none;
}

.logs-container .log .like-and-comment-container .comment-log-input:focus {
    background-color: #ffffff;
}

/*----------------albums content----------------*/

.albums-content {
    display: none;
}

.albums-container .custom-column {
    margin-bottom: 20px;
}

.albums-container .album {
    width: 100%;
    height: 190px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.albums-container .album .cover-picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 5px;
}

.albums-container .album .cover-picture .mask {
    width: 100%;
    height: 100%;
    transition: 150ms;
}

.albums-container .album .cover-picture .mask .overflow-button {
    background-image: url('/static/mytravelog/imgs/default/overflow_light.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.albums-container .album .cover-picture .mask .overflow-button:hover + .album-dropdown-container {
    display: inherit;
}

.albums-container .album .cover-picture .mask .album-dropdown-container {
    display: none;
    width: 150px;
    position: absolute;
    top: 32px;
    right: 0;
}

.albums-container .album .cover-picture .mask .album-dropdown-container:hover {
    display: inherit;
}

.albums-container .album .cover-picture .mask .album-dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top: 5px;
}

.albums-container .album .cover-picture .mask .album-dropdown-item {
    color: #000000;
    margin: 0;
    padding: 5px 15px;
}

.albums-container .album .cover-picture .mask .album-dropdown-item:hover {
    color: #ffffff;
    margin: 0;
    background-color: #428bca;
    padding: 5px 15px;
}


.albums-container .album .cover-picture .mask:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.albums-container .album .name {
    margin: 10px 0 0 0;
    color: #000000;
    font-weight: bold;
}

.albums-container .album .duration {
    margin: 0;
    color: gray;
}

/*----------------followers content----------------*/

.followers-content {
    display: none;
}

/*----------------following content----------------*/

.following-content {
    display: none;
}

