body {
    background-color: #f5f8fa;
    margin-top: 50px;
}

.jumbotron-home {
    height: 300px;
    margin: 0;
    background-image: url('/static/mytravelog/imgs/default/city-default.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-home .mask {
    margin: 0;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
}

.jumbotron-home .mask .name-container {
    display: table-cell;
    vertical-align: middle;
}

.jumbotron-home .mask .name-container .city-name {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
    font-size: 250%;
    margin: 0;
    padding-bottom: 5px;
}

.jumbotron-home .mask .name-container .country-name {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
    font-size: 120%;
}

.tabs-bar {
    border-bottom: 1px solid #e1e8ed;
    height: 60px;
    background-color: #ffffff;
    position: relative;
}

.tabs-bar .tabs-container {
    overflow: hidden;
    position: relative;
}

.tabs-bar .tabs-container .tab {
    height: 60px;
    padding: 12px 15px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-bottom: none;
    text-decoration: none;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.tabs-bar .tabs-container .tab:hover,
.tabs-bar .tabs-container .tab-active {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #0084B4;
}

.tabs-bar .tabs-container .tab .tab-name {
    color: #0084B4;
    font-size: 120%;
    margin-top: 5px;
}

.tabs-bar .tabs-container .add-to-wishlist-button {
    height: 100%;
    display: inline-block;
    float: right;
    margin-top: 12px;
}

.main-city-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-city-container .country-flag-container {
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    height: 150px;
    width: 200px;
    margin-top: -150px;
}

.main-city-container .country-flag-container .country-flag {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.main-city-container .city-name {
    font-size: 150%;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin: 5px 0 0 0;
}

.main-city-container .country-name {
    font-size: 110%;
    margin-top: -5px;
    padding: 0;
    width: 200px;
    text-align: center;
}

.main-city-container .city-stats-container {
    width: 200px;
    padding-top: 1px;
}

.main-city-container .city-stats-container .stat {
    margin-top: 10px;
}

.main-city-container .city-stats-container .title {
    text-align: center;
    font-weight: 500;
    color: gray;
    font-size: 80%;
    text-transform: uppercase;
    margin: 0;
}

.main-city-container .city-stats-container .value {
    text-align: center;
    margin: 0;
    color: #0084B4;
    font-size: 130%;
    padding: 0;
}

/*------------info content------------*/

.main-city-container .info-container {
    padding: 15px;
    background-color: #ffffff;
}

.main-city-container .info-container .info-text {
    font-size: 100%;
}
