
.jumbotron-home {
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url('/static/mytravelog/imgs/default/home-cover.jpg');
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-home .mask {
    margin: 50px 0 0 0;
    padding-top: 60px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
}


.jumbotron-home .mask .title-and-search-container .title {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,.5);
    padding-bottom: 10px;
    font-size: 250%;
}

.jumbotron-home .mask .title-and-search-container .explore-popular-cities {
    color: rgba(255,255,255,0.9);
    font-size: 100%;
    display: inline-block;
    margin-top: 15px;
    text-shadow: 0 0 20px rgba(0,0,0,.5);
    cursor: pointer;
}

.jumbotron-home .mask .title-and-search-container .explore-popular-cities:hover {
    border-bottom: 1px solid #13E4A1;
    color: #13E4A1;
}

.jumbotron-home .mask .title-and-search-container .form-city-search {
    height: 50px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron-home .mask .title-and-search-container .form-city-search .input-city-text {
    transition: 500ms;
    width: 400px;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('/static/mytravelog/imgs/default/icon_airplane.png');
    background-size: 22px 22px;
    background-position: 15px 10px;
    background-repeat: no-repeat;
    padding-left: 58px;
    font-size: 120%;
    color: #ffffff;
    border: solid 5px #ffffff;
    outline: none;
}

.jumbotron-home .mask .title-and-search-container .form-city-search .input-city-text:focus {
    border-color: #13E4A1;
}

.jumbotron-home .mask .title-and-search-container .form-city-search .input-city-text:focus + .input-city-button{
    border-color: #13E4A1;
    background-color: #13E4A1;
}

.jumbotron-home .mask .title-and-search-container .form-city-search .input-city-button {
    transition: 500ms;
    background-color: #ffffff;
    width: 50px;
    height: 100%;
    font-size: 120%;
    border: solid 5px #ffffff;
    outline: none;
}

.jumbotron-home .mask .title-and-search-container .form-city-search .autocomplete-suggestions-container {
    width: 395px;
    box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.36);
    z-index: 9000;
    position: fixed;
}

.jumbotron-home .mask .title-and-search-container .form-city-search  .suggestion-light {
    transition: 200ms;
    background-color: #0FB680;
    padding: 10px;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,.5);
    font-size: 100%;
    position: relative;
    cursor: pointer;
    z-index: 9000;
}

.jumbotron-home .mask .title-and-search-container .form-city-search .suggestion-dark {
    transition: 200ms;
    background-color: #0da373;
    padding: 10px;
    font-size: 100%;
    text-align: left;
    text-shadow: 0 0 20px rgba(0,0,0,.5);
    position: relative;
    color: #ffffff;
    cursor: pointer;
    z-index: 9000;
}

.jumbotron-home .mask .title-and-search-container .form-city-search .suggestion-light:hover,
.jumbotron-home .mask .title-and-search-container .form-city-search .suggestion-dark:hover {
    background-color: #13E4A1;
}

.introduction-container {
    text-align: center;
    margin: 40px auto 40px auto;
    width: 1024px;
}

.introduction-container .title {
    display: inline-block;
    margin: 0;
    font-size: 220%;
}

.introduction-container .subtitle {
    margin: 0 0 20px 0;
    font-size: 120%;
    color: gray;
}

.introduction-container .intro-title {
    font-size: 200%;
}

.introduction-container .intro-image {
    width: 120px;
    height: 120px;
}

.introduction-container .intro-text {
    color: gray;
}

.popular-cities-container {
    text-align: center;
    /*margin: 40px auto 40px auto;*/
    width: 1024px;
}

.popular-cities-container .title {
    margin: 0;
    display: inline-block;
    font-size: 220%;
}

.popular-cities-container .subtitle {
    margin: 0 0 30px 0;
    font-size: 120%;
    color: gray;
}

.popular-cities-container .popular-cities .popular-city {
    background-image: url('/static/mytravelog/imgs/default/city-default.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,.8);
    border: 1px solid;
    margin-bottom: 25px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.popular-cities-container .popular-cities .popular-city .mask {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px 15px;
    transition: 150ms;
    border-radius: 5px;
}

.popular-cities-container .popular-cities .popular-city .mask:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.popular-cities-container .popular-cities .popular-city .city-name {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 120%;
}

.popular-cities-container .popular-cities .popular-city .city-rank {
    margin: 0;
    padding: 0;
    font-size: 100%;
}


.popular-cities-container .popular-cities .popular-city .country-name {
    font-size: 80%;
}