body {
    background-color: #f5f8fa;
    margin-top: 70px;
}

.title-container {
    text-align: center;
    padding-bottom: 10px;
}

.title-container .title {
    color: #000000;
    font-size: 250%;
    margin: 0;
}

.title-container .leaderboard-model-switcher {
    display: inline-block;
    margin-top: 5px;
}

.title-container .leaderboard-model-switcher .model {
    width: 170px;
}

.main-leaderboard-container .table-custom {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.main-leaderboard-container .table-custom th {
    cursor: pointer;
}

.main-leaderboard-container .table-custom .country-flag {
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.main-leaderboard-container .table-custom .profile-picture {
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-right: 7px;
    background-position: center center;
    background-size: contain;
}

.main-leaderboard-container .nav-pagination {
    width: 100%;
    text-align: center;
}

.main-leaderboard-container .search-form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: 600px;
    height: 40px;
    margin: 10px auto 35px auto;
    border-radius: 4px;
}

.main-leaderboard-container .search-form .input-search {
    width: 92%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 120%;
    padding: 15px;
}

.main-leaderboard-container .search-form .button-search {
    width: 7%;
    height: 100%;
    background-color: transparent;
    border: none;
    float: right;
}

.main-leaderboard-container .search-form .button-search .image-search {
    width: 22px;
    height: 22px;
}

.main-leaderboard-container .nav-pagination .pagination-button {
    cursor: pointer;
}