.logs-content {
    display: none;
}

.logs-container .log {
    background-color: #ffffff;
    width: 600px;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logs-container .log .header {
    padding: 15px;
}


.logs-container .log .header .country-flag {
    width: 35px;
    height: 25px;
    display: inline-block;
}

.logs-container .log .header .location {
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    margin-left: 5px;
}

.logs-container .log .header .overflow-button {
    background-image: url('/static/mytravelog/imgs/default/overflow_dark.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
}

.logs-container .log .header .overflow-button:hover + .log-dropdown-container {
    display: inherit;
}

.logs-container .log .header .log-dropdown-container {
    display: none;
    width: 150px;
    position: absolute;
    margin-left: 500px;
    margin-top: -10px;

}

.logs-container .log .header .log-dropdown-container:hover {
    display: inherit;
}

.logs-container .log .header .log-dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top: 5px;
}

.logs-container .log .header .log-dropdown-item {
    color: #000000;
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
}

.logs-container .log .header .log-dropdown-item:hover {
    color: #ffffff;
    margin: 0;
    background-color: #428bca;
    padding: 5px 15px;
}

.logs-container .log .log-pictures-container {
    padding: 0;
    margin-bottom: 10px;
}

.logs-container .log .log-pictures-container .mask {
    width: 100%;
    height: 100%;
    transition: 150ms;
    cursor: pointer;
}

.logs-container .log .log-pictures-container .mask:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.logs-container .log .log-pictures-container .log-picture {
    background-position: center center;
    background-size: cover;
}

.logs-container .log .log-pictures-container .log-picture-full {
    width: 100%;
    height: 300px;
}

.logs-container .log .log-pictures-container .log-picture-left {
    width: 50%;
    height: 300px;
    display: inline-block;
}

.logs-container .log .log-pictures-container .log-picture-right {
    width: 50%;
    height: 300px;
    display: inline-block;
}

.logs-container .log .log-pictures-container .log-picture-right-top {
    width: 100%;
    height: 150px;
    display: block;
}

.logs-container .log .log-pictures-container .log-picture-right-bottom {
    width: 100%;
    height: 150px;
    display: block;
}


.logs-container .log .description {
    padding-left: 15px;
    padding-right: 15px;
}

.logs-container .log .user-info-container {
    padding: 15px;
}

.logs-container .log .user-info-container .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    float: left;
    margin-right: 8px;
}

.logs-container .log .user-info-container .name {
    margin: -4px 0 0 0;
    padding: 0;
    font-weight: bold;
}

.logs-container .log .user-info-container .timestamp {
    margin: 0;
    padding: 0;
    color: gray;
}

.logs-container .log .like-and-comment-count-container {
    margin: 5px 15px 0 15px;
    border-bottom: 1px solid #e1e8ed;
    border-top: 1px solid #e1e8ed;
}

.logs-container .log .like-and-comment-count-container .like-count-container {
    display: inline-block;
    padding: 5px 20px 5px 10px;
}

.logs-container .log .like-and-comment-count-container .comment-count-container {
    display: inline-block;
    padding: 5px 20px 5px 10px;
    border-right: 1px solid #e1e8ed;
}


.logs-container .log .like-and-comment-count-container .like-count-container .title,
.logs-container .log .like-and-comment-count-container .comment-count-container .title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #8899a6;
    font-size: 80%;
}

.logs-container .log .like-and-comment-count-container .like-count-container .count,
.logs-container .log .like-and-comment-count-container .comment-count-container .count {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 125%;
    color: #0084B4;
}

.logs-container .log .like-and-comment-count-container .liker-profile-pictures {
    padding: 5px 5px 5px 0;
    display: inline-block;
}

.logs-container .log .like-and-comment-count-container .liker-profile-pictures .liker-profile-picture {
    margin: 0 0 0 8px;
    background-position: center center;
    background-size: cover;
    width: 20px;
    float: left;
    height: 20px;
    border-radius: 3px;
}

.logs-container .log .like-and-comment-container {
    padding: 5px 15px 15px 15px;
    margin-bottom: 5px;
}

.logs-container .log .like-and-comment-container .like-log-button {
    background-image: url('/static/mytravelog/imgs/default/btn_like.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    float: left;
    width: 14%;
    height: 35px;
    margin-right: 10px;
    outline: none;
    border: solid 1px lightgrey;
    border-radius: 5px;
    box-shadow: 0 1px 1px #f0f0f0;
}

.logs-container .log .like-and-comment-container .like-log-button:hover {
    background-color: #eeeeee;
}

.logs-container .log .like-and-comment-container .like-log-button-active {
    background-image: url('/static/mytravelog/imgs/default/btn_liked.png');
    border: none;
    background-color: #0084B4;
}

.logs-container .log .like-and-comment-container .like-log-button-active:hover {
    background-color: #2e618d;
}

.logs-container .log .like-and-comment-container .comment-log-input {
    width: 84%;
    height: 35px;
    background-color: #f2f2f2;
    border: none;
}

.logs-container .log .like-and-comment-container .comment-log-input:focus {
    background-color: #ffffff;
}

.logs-container .log .like-and-comment-container .comment-container {
    padding-top: 10px;
}

.logs-container .log .like-and-comment-container .comment-container .comment {
    margin-top: 10px;
    margin-bottom: 15px;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-profile-picture {
    background-position: center center;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 3px;
    float: left;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-content {
    display: inline-block;
    margin-left: 10px;
    width: 90%;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-content .comment-header {
    margin-top: -3px;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-content .comment-header .comment-full-name {
    font-weight: bold;
    margin: 0;
    color: #000000;
    display: inline-block;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-content .comment-header .comment-username {
    color: #8899a6;
    margin: 0;
    display: inline-block;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-content .comment-header .comment-timestamp {
    color: #8899a6;
    margin: 0;
    display: inline-block;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-content .comment-body {
    margin: 0;
}

.logs-container .log .like-and-comment-container .comment-container .comment .comment-content .comment-delete-button {
    color: red;
    /*font-weight: bold;*/
    font-size: 80%;
    cursor: pointer;
    margin: 0;
    display: inline-block;
}


/*---------------styles for all log related modals---------------*/

.form-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.error-container {
    display: none;
    padding: 10px;
}

.modal-footer-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer-wrapper .button-negative {
    width: 20%;
}

.modal-footer-wrapper .button-positive {
    width: 20%;
}

#add-log-modal-more-images-button-wrapper {
    text-align: right;
}

#add-log-modal-more-images-button-wrapper #add-log-modal-more-images-button {
    color: #428bca;
    display: inline-block;
    cursor: pointer;
}

#add-log-modal-more-images-button-wrapper #add-log-modal-more-images-button:hover {
    color: #2e618d;
}

#add-log-modal-map-container {
    background-color: #f2f2f2;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#add-log-modal-image-input {
    margin-bottom: 5px;
}

#log-picture-modal #log-picture-modal-dialog {
    width: 60%;
    min-width: 800px;
}

#log-picture-modal #log-picture-modal-picture {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
}

#log-picture-modal #log-picture-modal-body {
    padding: 0;
    background-color: #000000;
}

#log-picture-modal #log-picture-modal-header {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    padding-right: 5px;
    padding-top: 5px;
}

#log-picture-modal #log-picture-modal-header #log-picture-modal-close-button {
    background-image: url('/static/mytravelog/imgs/default/icon_delete.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    float: right;
    cursor: pointer;
}

#log-picture-modal #log-picture-modal-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    width: 100%;
}

#log-picture-modal #log-picture-modal-index {
    font-weight: bold;
    display: inline-block;
    margin: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 59%;
}

#log-picture-modal #log-picture-modal-previous-button {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    /*font-weight: bold;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    width: 20%;
    color: rgba(255, 255, 255, 0.7)
}

#log-picture-modal #log-picture-modal-next-button {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    /*font-weight: bold;*/
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20%;
    color: rgba(255, 255, 255, 0.7);
}

#log-picture-modal #log-picture-modal-previous-button:hover,
#log-picture-modal #log-picture-modal-next-button:hover {
    color: rgba(255, 255, 255, 1);
}

#delete-log-modal #delete-log-modal-location {
    font-weight: bold;
}

#delete-log-modal #delete-log-modal-created-at {
    font-weight: bold;
}

#delete-log-modal .delete-log-modal-paragraph {
    margin: 0;
}

#edit-log-modal #edit-log-modal-map-container {
    background-color: #f2f2f2;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#edit-log-modal #edit-log-modal-image-input {
    margin-bottom: 5px;
}

#edit-log-modal #edit-log-modal-more-images-button-wrapper {
    text-align: right;
}

#edit-log-modal #edit-log-modal-more-images-button-wrapper #edit-log-modal-more-images-button {
    color: #428bca;
    display: inline-block;
    cursor: pointer;
}

#edit-log-modal #edit-log-modal-more-images-button-wrapper #edit-log-modal-more-images-button:hover {
    color: #2e618d;
}

#edit-log-modal #edit-log-modal-previous-images-container {;
    width: 100%;
    padding: 5px 0 0 0;
    border: 1px dashed gray;
}

#edit-log-modal #edit-log-modal-previous-images-container .edit-log-modal-previous-image {
    height: 60px;
    width: 60px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    border-radius: 3px;
}

#edit-log-modal #edit-log-modal-previous-images-container .edit-log-modal-previous-image .edit-log-modal-previous-image-mask {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: table;
}

#edit-log-modal #edit-log-modal-previous-images-container .edit-log-modal-previous-image .edit-log-modal-previous-image-mask:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#edit-log-modal #edit-log-modal-previous-images-container .edit-log-modal-previous-image .edit-log-modal-previous-image-mask .edit-log-modal-previous-image-delete-button {
    background-position: center center;
    background-size: contain;
    height: 50%;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

#edit-log-modal #edit-log-modal-previous-images-container .edit-log-modal-previous-image .edit-log-modal-previous-image-mask .edit-log-modal-previous-image-delete-button:hover {
    background-image: url('/static/mytravelog/imgs/default/icon_delete.png');
}

#edit-log-modal #edit-log-modal-previous-images-container .edit-log-modal-no-previous-images-text {
    text-align: center;
    padding: 10px;
}