
body {
    background-color: #f5f8fa;
}

.search-container {
    margin-top: 80px;
}

.search-container .search-form {
    background-color: #e4e4e4;
    width: 960px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.search-container .search-form .input-search {
    width: 94%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 140%;
    padding: 15px;
}

.search-container .search-form .button-search {
    width: 5%;
    height: 100%;
    background-color: transparent;
    border: none;
    float: right;
}

.search-container .search-form .button-search .image-search {
    width: 25px;
    height: 25px;
}

.search-container .search-form .results-count-text {
    color: gray;
    margin-top: 10px;
}

.search-container .results-container {
    margin-top: 60px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.search-container .results-container .divider {
    border-color: #e1e8ed;
    margin-top: 0;
    border-width: 2px;
}

.search-container .results-container .results-title {
    font-size: 100%;
    color: gray;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.search-container .results-container .city-results {
    margin-top: 5px;
}

.search-container .results-container .city-results .city {
    background-image: url('/static/mytravelog/imgs/default/city-default.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0,0,0,.5);
    border: 1px solid;
    margin-bottom: 25px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.search-container .results-container .city-results .city .mask {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 55px 15px;
    border-radius: 5px;
    transition: 150ms;
}

.search-container .results-container .city-results .city .mask:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.search-container .results-container .city-results .city .city-name {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 140%;
}

.search-container .results-container .city-results .city .country-name {
    font-size: 90%;
}

.search-container .results-container .user-results {
    margin-top: 5px;
}

.search-container .results-container .user-results .user {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 25px;
}

.search-container .results-container .user-results .user .cover-picture {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #e1e8ed;
    background-color: #0084b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.search-container .results-container .user-results .user .info-container {
    margin: 0 10px 10px 10px;
}

.search-container .results-container .user-results .user .info-container .profile-picture-container {
    width: 76px;
    height: 76px;
    margin-top: -50px;
    margin-bottom: 5px;
    background-size: cover;
    border: 4px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
}

.search-container .results-container .user-results .user .info-container .profile-picture-container .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.search-container .results-container .user-results .user .info-container .follow-button {
    float: right;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid lightgrey;
    width: 100px;
}

.search-container .results-container .user-results .user .info-container .follow-button:hover {
    background-color: #f2f2f2;
}

.search-container .results-container .user-results .user .info-container .follow-button-active {
    background-color: #428bca;
    color: #ffffff;
}

.search-container .results-container .user-results .user .info-container .follow-button-active:hover {
    background-color: #2e618d;
}

.search-container .results-container .user-results .user .info-container .full-name {
    font-weight: bold;
    font-size: 130%;
    padding-left: 3px;
    color: #000000;
}

.search-container .results-container .user-results .user .info-container .username {
    padding-left: 3px;
    color: gray;
}

.search-container .results-container .no-results-text {
    font-size: 150%;
    color: gray;
    text-align: center;
    margin-top: 10%;
}